/* 4 - External */

body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}
/* -------------------------- */


/*  <!-- 8 - Classes -->  */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;

}
/* -------------------------- */

/* <!-- 9 - ID --> */
#exclusive-title {
    background-color: blueviolet;
    color: rgb(238, 255, 0);
    padding: 10px;

}
/* -------------------------- */

/* <!-- 10 - Multiplas regras, ordem do css --> */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 4px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;

}
/* -------------------------- */

/* <!-- 11 - Nome de cor --> */
.color-name {
    color:firebrick;
}
/* -------------------------- */

/* <!-- 12 - HEX --> */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #55a300;
}
/* -------------------------- */

 /* <!-- 13 - Mais Sobre o HEX --> */
.simple-hex {
    color: #333;
}
/* -------------------------- */

.simple-hex-2 {
    color: #AA55FF;
}
/* -------------------------- */

/* <!-- 14 - RGB --> */
.rgb {
    color: rgb(255, 0, 0);

}

.mixed-rgb {
    color: rgb(194, 30, 12);

}

/* -------------------------- */


/*  <!-- 15 - RGBA --> */
.rgba {
    color: rgba(200, 100, 49, 0.3);

}
/* -------------------------- */


/* <!-- 16 - HSL --> */
.hsl {
    color: hsl(100, 30%, 40%);
}

.hsl-2 {
    color: hsl(90, 80%, 20%);
}
/* -------------------------- */

/* <!-- 17 - Background color --> */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}
/* -------------------------- */


/* <!-- 18 - Background opacity --> */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}
/* -------------------------- */


/* <!-- 19 - Resolvendo problema da opacidade --> */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}
/* -------------------------- */


/* <!-- 20 - BG Image --> */
.bg-image {
background-image: url("../img/cubo.jpg");
padding: 10px;
color: azure;
}
/* -------------------------- */


/* <!-- 21 - Centralizando a imagem background --> */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/dev.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* 22 largura e altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: #AA55FF;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* 23 padding */
.without-padding,
.padding {
    background-color: #111;
    color: aliceblue;
}

.padding {
    background-color: #00eaff;
    padding: 20px;
}

/* 24 - padding individual */
.padding-individual {
    background-color: #111;
    color: aliceblue;
    padding-top: 5px;
}

/* 25 - shorthan-padding */
.shorthan-padding{
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthan-padding-2 {
    background-color: #555;
    padding: 10px 20px;
}

/* 26 Padding e width */
.without-border-box {
    background-color: #444;
    color: aliceblue;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #666;
    color: aliceblue;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* 27 border */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 20px;
}

/* 28 borda individual */
.border-left {
   border-left: 3px solid red;
   background-color: #222;
   padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px; 
}